<%- include("header2")-%>
<!-- <%- include('headerauth') %> -->
<div>
  <style>
    input {
      border: 1px solid black;
    }
  </style>
  <form action="/forgotPassword/reset" method="POST">
    <input
      style="border: 1px solid black; padding: 0px"
      type="text"
      name="password"
      placeholder="Enter New Password"
    />
    <input
      style="border: 1px solid black; padding: 0px"
      type="password"
      name="confirm_password"
      placeholder="Confirm Password"
    />
    <input type="hidden" name="user_id" value="<%= user_id%>" />
    <button type="submit">Reset Password</button>
  </form>
</div>
<%- include("footer2")-%>
<!-- <%- include('footerauth') %> -->
